<!DOCTYPE html>
<html lang="" ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>OATS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
    <!-- <link href="css/main.css" rel="stylesheet"> -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- <script src="node_modules/request/request.js"></script> -->
    <script src="asset_controller.js"></script>
  </head>
  <body>

    <div ng-controller="assetCtrl">
      <div id="main_asset_info">
        Main Address: <input type="text" ng-model="walletAddr"><br>
        OAP Address: <input type="text" ng-model="oapAddr"><br>
        Original Balance<input type="text" ng-model="origBalance">
        Spent Balance<input type="text" ng-model="spentBalance">
        Remaining Balance<input type="text" ng-model="addressBalance">
        <button ng-click="getWalletAddr()"></button>


        <div id="form_issueAsset">
          Private Key <input type="text" ng-model="issuePK"><br>
          Send to Asset <input type="text" ng-model="issueAddr"><br>
          Amount to Issue <input type="text" ng-model="issueAmount"><br>
          <button ng-click="issueAsset()">Issue New Asset</button>
        </div>

      </div>
      <div id="main_asset_info">
        <input type="text" ng-model="assetID"><br>
        transactionHistory <input type="text" ng-model="transactionHistory"><br>


      </div>
    </div>

</body>

</html>
