<!DOCTYPE html>
<html lang="" ng-app="oats">
  <head>
    <meta charset="UTF-8">
    <title>OATS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/bitcore-lib/bitcore-lib.js"></script>
    <script src="bower_components/qrcode-generator/js/qrcode.js"></script>
    <script src="bower_components/angular-qrcode/angular-qrcode.js"></script>
    <script src="app.js"></script>
  </head>
  <script>
  var request = require('request');
  function createNewAddress() {
  request(
      { method: 'POST'
      , uri: 'https://api.blockcypher.com/v1/btc/test3/addrs'
      }
    , function (error, response, body) {
        if(response.statusCode == 201){
          var info = JSON.parse(body);
          console.log("PK :" + info.private);
          console.log("public :" + info.public);
          console.log("address :" + info.address);
          console.log("wif :" + info.wif);
        } else {
          console.log('error: '+ response.statusCode)
          console.log(body)
          console.alert("PK :" + info.private);
        }
      }
    )
  };
  </script>
  <body ng-controller="MyCtrl">

    <h1>Lets test</h1>
    <a href="#" class="close" ng-click="createNewAddress()">Generate Address</a>
    <button class="btn green" ng-click="createNewAddress()">Generate Address</button>
    <script>document.write(createNewAddress())</script>

    <div class="footer">
      We are using Node.js <script>document.write(process.version)</script>
      and Electron <script>document.write(process.versions['electron'])</script>.
    </div>
  </body>
</html>
