<div class="container-fluid">
  <div class="row">
    <div ng-controller="networkCtrl">
      <div class="col-md-4">
        Network Info: <h5>{{bcServiceBasePath}}</h5><br>
        <!-- OAP Address: <h5>{{oapAddr}}</h5><br> -->
      </div>
    </div>

    <div ng-controller="addressCtrl">
      <div id="main_address_info" class="col-md-12">
        <div class="col-md-4">
          <h5>Main Address: {{ogAddress}}</h5>
          <h5>OAP Address: {{oapAddress}}</h5>
          <input ng-model="customAddr">
          <button ng-click="queryAddress('BvUw6CKT5Ky1pvUbetnEDkd5wLaqbPe7YS')">Look up</button>
          <h5>Balance: {{addressBalance}}</h5>
        </div>
      </div>
    </div>
    <div ng-controller="addressCtrl">
      <div id="asset_info" class="col-md-12">
        <div class="col-md-4">
          <h5>Name: {{tokenName}}</h5>
          <h5>Description: {{description}}</h5>
          <h5>Link: {{url}}</h5>
          <h5>Expiration Date: {{expirationDate}}</h5>
        </div>
      </div>
      <div id="put_asset_info" class="col-md-12">
        <div class="col-md-4">
          Token name: <input ng-model="put_tokenName"><br>
          Description: <input ng-model="put_description"><br>
          URL: <input ng-model="put_url"><br>
          Expiration Date: <input ng-model="put_expirationDate">
          <button ng-click="putMeta('1BvUw6CKT5Ky1pvUbetnEDkd5wLaqefyXn8')">Save</button>
          <h5>Response: {{putResponse}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
